.banner-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

/* Common style for all images */
.carousel-image {
    flex: 0 0 30%;
    height: 90%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    /* 1 second transition */
    position: relative;
}

/* Image tag inside */
.carousel-image img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    border-radius: 12px;
    transition: all 1s ease-in-out;
}

/* Left Image: smaller, blur */
.carousel-image.left img {
    transform: scale(0.8);
    filter: blur(1px) brightness(70%);
}

/* Center Image: focused */
.carousel-image.center img {
    transform: scale(1);
    filter: none;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.5);
}

/* Right Image: smaller, blur */
.carousel-image.right img {
    transform: scale(0.8);
    filter: blur(1px) brightness(70%);
}

/* Responsive */
@media (max-width: 768px) {
    .banner-carousel {
        flex-direction: row;
        height: auto;
    }

    .carousel-image {
        flex: none;
        width: 90%;
        margin: 10px 0;
    }
}